<!-- 
  file: _intro.html
  description: This is the intro section of the blog post. It includes the title, author, and excerpt of the post.
  path: _includes/intro.html
 -->

 {% if page.collection %}
 {% capture page_dir %}{{ site.collections_dir }}{% endcapture %}
 {% assign testvar = "collection exists" %}
{% endif %}

<!-- Intro Section -->

<div class="bd-intro pt-5 ps-lg-2 position-relative" style="
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ page.preview | relative_url | default: site.info_banner }}') no-repeat center center / cover;
  color: #fff;">
<!-- Share Icon with Popover for Multiple Sharing Options -->
<div class="position-absolute top-0 end-0 m-3">
  <a href="#" class="btn btn-info" data-bs-toggle="popover" data-bs-html="true" data-bs-trigger="hover focus" data-bs-placement="bottom" data-bs-content="<div class='d-flex flex-column'><a href='https://reddit.com/submit?url={{ page.url | absolute_url | url_encode }}&amp;title={{ page.title | url_encode }}' target='_blank'>Share on Reddit</a><button class='btn btn-link' onclick='navigator.clipboard.writeText(&quot;{{ page.url | absolute_url }}&quot;);'>Copy Link</button></div>" title="Share Options">
    <i class="bi bi-share"></i>
  </a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'));
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl);
    });

    // Optional: Check if the clipboard API is supported
    if (!navigator.clipboard) {
      console.warn('Clipboard API not supported');
    }
  });
</script>

  <br>
  <h1>{{ page.title }}</h1>
  <p>By {{ page.author | default: site.author.name }}</p>
  <p>{{ page.description }}</p>
  <p>Estimated reading time: {{ content | number_of_words | divided_by:200 }} minutes</p>
  <!-- Edit on Github Button -->
  <a href="https://github.com/{{ site.repository }}/blob/master/{{ page_dir }}/{{ page.path }}" class="btn btn-dark position-absolute bottom-0 end-0 m-3">
    <i class="bi bi-github"></i>
    <span class="d-none d-sm-inline">Edit on Github</span>
  </a>
</div>