---
layout: root
source: "https://getbootstrap.com/docs/5.3/examples/blog/#"
---

<div class="container">

  <header class="border-bottom py-3 text-center">
    <h1>BASH News</h1>
  </header>
  <!-- News Sub-topic list -->
  <div class="nav-scroller py-1 mb-3 border-bottom">
      <nav class="nav nav-underline justify-content-between">
        {% for item in site.data.navigation.posts %}
          <a class="nav-item nav-link link-body-emphasis" href="{{ item.url }}">{{ item.title }}</a>
        {% endfor %}
      </nav>
  </div>
  
</div>

<main class="container">

  {% assign breaking_news_posts = site.posts | where: "categories", "breaking" %}
  {% assign most_recent_post = breaking_news_posts | first %}

  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="display-4 fst-italic">{{ most_recent_post.title }}</h1>
        <p class="lead my-3">{{ most_recent_post.excerpt }}</p>
        <p class="lead mb-0"><a href="{{ site.baseurl }}{{ most_recent_post.url }}" class="text-body-emphasis fw-bold">Continue reading...</a></p>
      </div>
      <div class="col-lg-6">
        <img src="{{ site.baseurl }}{{ most_recent_post.preview }}" alt="Preview image" class="img-fluid">
      </div>
    </div>
  </div>

  <div class="row mb-2">
      {% assign featured_posts = site.posts | where: "featured", true %}
      {% for post in featured_posts %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">{{ post.categories[0] }}</strong>
            <h3 class="mb-0">{{ post.title }}</h3>
            <div class="mb-1 text-body-secondary">{{ post.date | date: "%b %d" }}</div>
            <p class="card-text mb-auto">{{ post.excerpt | strip_html | truncate: 200 }}</p>
            <a href="{{ site.baseurl }}{{ post.url }}" class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi"><use xlink:href="#chevron-right"/></svg>
            </a>
          </div>
          <div class="col-md-6 d-none d-lg-block">
            <img src="{{ site.baseurl }}{{ post.preview }}" alt="Post preview image" class="img-fluid">
          </div>
        </div>
      </div>
      {% endfor %}
  </div>

  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">
        Welcome to {{ page.title }}
      </h3>

      <article class="blog-post">
        {{ content }}
      </article>

    </div>

    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.</p>
        </div>

        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
              {% for post in site.posts limit:3 %}
                  <li>
                      <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ post.url }}">
                          <img class="bd-placeholder-img" src="{{ page.preview | default:  site.og_image }}" width="50%" alt="Preview image">
                          <div class="col-lg-8">
                              <h6 class="mb-0">{{ post.title }}</h6>
                              <small class="text-body-secondary">{{ post.date | date: "%B %d, %Y" }}</small>
                          </div>
                      </a>
                  </li>
              {% endfor %}
          </ul>
        </div>

        <div class="p-4">
            <h4 class="fst-italic">Archives</h4>
            <ol class="list-unstyled mb-0">
                {% assign posts_by_month = site.posts | group_by_exp: "post", "post.date | date: '%B %Y'" %}
                {% for month in posts_by_month %}
                    <li><a href="#">{{ month.name }}</a></li>
                {% endfor %}
            </ol>
        </div>

        <div class="p-4">
            {% include sidebar-categories.html %}
          </div>
          
          <div class="p-4">
           
            {% include sidebar-tags.html %}
        </div>
      </div>
    </div>
  </div>

</main>


